django
djangorestframework

langchain==0.2.16
langchain-core==0.2.40
langchain-community==0.2.16
langchain-openai==0.1.25
langchain-huggingface==0.0.3
langchain-milvus==0.1.7

pymilvus==2.4.4

sentence-transformers

openai

python-dotenv

pypdf

rank-bm25